.idea/
*.iml
.project
.settings/
com.infotamia.cosmetics/.classpath
com.infotamia.cosmetics/.project
com.infotamia.cosmetics/.settings/
nohup.out
com.infotamia.cosmetics/src/main/resources/*.yaml
config/config.yaml
config/datasource-config.yaml
